html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond/EBGaramond-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "VenusSB-MediumExtended";
  src: url("/fonts/Venus/VenusSB-MediumExtended.woff2") format("woff2"),
    url("/fonts/Venus/VenusSB-MediumExtended.woff") format("woff");
  font-display: swap;
}

::-moz-selection {
  background: #e6e6e6;
}

::selection {
  background: #e6e6e6
}